[submodule "src/vendors/cpp-sdk"]
	path = vendors/cpp-sdk
	url = https://github.com/altmp/cpp-sdk
[submodule "src/vendors/luajit"]
	path = vendors/luajit
	url = https://github.com/luajit/luajit
[submodule "vendors/semver"]
	path = vendors/semver
	url = https://github.com/Neargye/semver
