[submodule "src/vendors/cpp-sdk"]
	path = src/vendors/cpp-sdk
	url = https://github.com/altmp/cpp-sdk
[submodule "src/vendors/luajit"]
	path = src/vendors/luajit
	url = https://github.com/luajit/luajit
